/* Fond d'?cran */
body {
    background: #F4DD06 url("Images/background.png") no-repeat center/cover fixed;
    margin: 0px;
    padding: 0px;
    word-break: break-all;
}

header{
    height: 10vh;
    display: flex;
    justify-content: flex-end;
}

div{
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* Mise en forme des boutons */
.bouton {
    border: solid black 1px;
    border-radius: 10px;
    padding: 30px;
    width: 20vw;
    height: 20vh;
    background-color: #74A333;
    font-family: "Open", sans-serif;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 2px 2px 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}

/* Changer la couleur de fond des boutons lorsque l'on passe dessus avec le curseur pour montrer qu'ils sont cliquables */
.bouton:hover {
    background-color: #4C7B0B;
}

/* Formulaires en ligne */
form {
    display: inline-block;
}

/* Mise en forme du bouton d?connexion */
#boutonDeconnexion {
    border: solid black 1px;
    border-radius: 10px;
    background-color: #74A333;
    font-family: "Open", sans-serif;
    font-weight: bold;
    box-shadow: 2px 2px 5px;
    padding: 5px;
    height: 50px;
    width: 100px;
    margin: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
}

/* Changer la couleur de fond du bouton d?connexion lorsque l'on passe dessus avec le curseur pour montrer qu'il est cliquable */
#boutonDeconnexion:hover {
    background-color: #4C7B0B;
}