/* Mise en forme des boutons */
.bouton {
    border: solid black 1px;
    border-radius: 10px;
    padding: 30px;
    width: 300px;
    height: 250px;
    margin: 230px auto auto 140px;
    background-image:linear-gradient(#E5755F, #C34D34);
    font-family: "Open", sans-serif;
    font-size: 18px;
    box-shadow: 2px 2px 5px;
    cursor: pointer;
    transition: background-color 1s;
}

/* Changer la couleur de fond des boutons lorsque l'on passe dessus avec le curseur pour montrer qu'ils sont cliquables */
.bouton:hover {
    background-image:linear-gradient(#C34D34, #9B250C);
}

/* Formulaires en ligne */
form {
    display: inline-block;
}

/* Mise en forme du bouton déconnexion */
#boutonDeconnexion {
    border: solid black 1px;
    border-radius: 10px;
    background-image:linear-gradient(#E5755F, #C34D34);
    font-family: "Open", sans-serif;
    box-shadow: 2px 2px 5px;
    padding: 5px;
    height: 50px;
    width: 100px;
    margin: 20px auto auto 1784px;
    cursor: pointer;
    transition: background-color 1s;
}

/* Changer la couleur de fond du bouton déconnexion lorsque l'on passe dessus avec le curseur pour montrer qu'il est cliquable */
#boutonDeconnexion:hover {
    background-image:linear-gradient(#C34D34, #9B250C);
}