/* Mise en forme des boutons pour voir ou créer une fiche */
.fiche {
    border: solid black 1px;
    border-radius: 10px;
    padding: 30px;
    width: 300px;
    height: 250px;
    margin: 230px auto auto 250px;
    background-color: #74A333;
    font-family: "Open", sans-serif;
    font-size: 18px;
    font-weight: bold;
    box-shadow: 2px 2px 5px;
    cursor: pointer;
    transition: background-color 0.5s;
}

/* Changer la couleur de fond des boutons lorsque l'on passe dessus avec le curseur pour montrer qu'ils sont cliquables */
.fiche:hover {
    background-color: #4C7B0B;
}

/* Formulaires en ligne */
form {
    display: inline-block;
}

/* Mise en forme du bouton déconnexion */
#boutonDeconnexion {
    border: solid black 1px;
    border-radius: 10px;
    background-color: #74A333;
    font-family: "Open", sans-serif;
    font-weight: bold;
    box-shadow: 2px 2px 5px;
    padding: 5px;
    height: 50px;
    width: 100px;
    margin: 20px auto auto 1784px;
    cursor: pointer;
    transition: background-color 0.5s;
}

/* Changer la couleur de fond du bouton déconnexion lorsque l'on passe dessus avec le curseur pour montrer qu'il est cliquable */
#boutonDeconnexion:hover {
    background-color: #4C7B0B;
}

/* Fond d'écran */
body {
    background-image: url("Images/background.png");
    background-size: cover;
    margin: 0px;
}