/* Mise en forme des boutons */
.bouton {
    border: solid black 1px;
    border-radius: 10px;
    background-image:linear-gradient(#E5755F, #C34D34);
    font-family: "Open", sans-serif;
    box-shadow: 2px 2px 5px;
    padding: 5px;
    height: 50px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    transition: background-color 1s;
    white-space: pre-line;
}

/* Changer la couleur de fond des boutons lorsque l'on passe dessus avec le curseur pour montrer qu'ils sont cliquables */
.bouton:hover {
    background-image:linear-gradient(#C34D34, #9B250C);
}

/* Placer les boutons de l'en-tête de page */
#boutonAccueil {
    margin: 20px auto auto 20px;
}

#boutonListeFiches {
    margin: 20px auto auto 20px;
}

#boutonImpression {
    margin: 20px auto auto 1424px;
}

#boutonDeconnexion {
    margin: 20px 20px auto 20px;
}

/* Centrer les éléments de l'en-tête de page */
header {
    display: flex;
}

/* tableau */
#tabFicheSuivi{
    border-collapse: collapse;
    height: 830px;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

/* Cellules du tableau */
#tabFicheSuivi td{
    border: solid black 1px;
    padding: 0px 3px 3px 3px;
    vertical-align: top;
}

/* En-têtes du tableau */
#tabFicheSuivi th{
    border: solid black 1px;
    padding: 0px 3px 3px 3px;
    vertical-align: top;
}

/* Cacher le pied du tableau dans l'application */
#tabFicheSuivi tfoot{
    visibility: hidden;
}

/* Titres */
.titre {
    font-weight: bold;
}

/* input type="text" */
input[type=text] {
    border: none;
    background-color: #F0F0F0;
    margin-top: 5px;
}

/* input type="date" */
input[type=date] {
    border: none;
    background-color: #F0F0F0;
}

/* input type="number" */
input[type=number] {
    border: none;
    background-color: #F0F0F0;
    width: 30px;
}

/* Labels des renseignements socio administratifs */
.labelSocioAdministratifs {
    margin-left: 20px;
}

/* Labels de la prescription */
.labelPrescription {
    margin-left: 40px;
}

/* Labels du protocole thérapeutique */
.labelProtocoleTherapeutique {
    margin-left: 30px;
}

/* Cacher les labels d'indication médicale, techniques et intitules kiné */
.labelPrint {
    display: none;
}

/* Input type=text de l'indication médicale */
#indicMedic {
    width: 1105px;
}

/* Input type=text de la technique */
#techniques {
    width: 1205px;
    margin-left: 20px;
}

/* Input type=text de l'intitulé kiné */
#intitulesKine {
    width: 250px;
}

/* textarea */
textarea {
    overflow:hidden;
    border: none;
    background-color: #F0F0F0;
    width: 100%;
    height: 100%;
}

/* Centrer la cotation */
#cotation {
    margin-left: 80px;
    margin-top: 10px;
}