/* Feuile de style pour l'impression */

/* Impression au format paysage */
@page { 
    size: landscape; 
};

/* Cacher l'en-tête de page */
header {
    display: none;
}

/* Cacher les boutons */
.bouton {
    display: none;
}

/* Cacher les boutons pour masquer les colonnes */
.masquer {
    display: none;
}

/* tableau */
#tabFicheSuivi{
    border-collapse: collapse;
    height: 830px;
    width: 1500px;
    margin-left: auto;
    margin-right: auto;
}

/* Cellules du tableau */
#tabFicheSuivi td{
    border: solid black 1px;
    padding: 0px 3px 3px 3px;
    vertical-align: top;
}

/* En-têtes du tableau */
#tabFicheSuivi th{
    border: solid black 1px;
    padding: 0px 3px 3px 3px;
    vertical-align: top;
}

/* Titres en gras*/
.titre {
    font-weight: bold;
}

/* input type="text" */
input[type=text] {
    border: none;
    margin-top: 5px;
}

/* input type="date" */
input[type=date] {
    display: none;
}

/* input type="number" */
input[type=number] {
    display: none;
}

/* Labels des renseignements socio administratifs */
.labelSocioAdministratifs {
    margin-left: 20px;
}

/* Labels de la prescription */
.labelPrescription {
    margin-left: 40px;
}

/* Labels du protocole thérapeutique */
.labelProtocoleTherapeutique {
    margin-left: 30px;
}

/* Cacher l'input type=text de l'indication médicale */
#indicMedic {
    display: none;
}

/* Cacher l'input type=text de lieu séances */
#lieuSeances {
    display: none;
}

/* Cacher l'input type=text de la technique */
#techniques {
    display: none;
}

/* Cacher l'input type=text de l'intitulé kiné */
#intitulesKine {
    display: none;
}

/* textarea */
textarea {
    overflow:hidden;
    border: none;
    width: 100%;
    height: 100%;
}

/* Centrer la cotation */
#cotation {
    margin-left: 80px;
    margin-top: 10px;
}

/* Masquer les boutons radio pour déterminer si le résident est mort */
#divArchive {
    display: none;
}