/* Div login */
#divLogin {
    border: solid black 1px;
    border-radius: 10px;
    padding: 20px 30px 30px 30px;
    width: 300px;
    height: 250px;
    background-color: #74A333;
    font-family: "Open", sans-serif;
    font-weight: bold;
    margin: 300px auto auto auto;
    box-shadow: 2px 2px 5px;
}

/* Formulaire login */
#formLogin {
    margin-top: 60px;
}

/* Input type text avec bordure */
input[type=text] {
    border: solid black 2px;
    height: 25px;
    width: 140px;
}

/* Input type password avec bordure */
input[type=password] {
    border: solid black 2px;
    height: 25px;
    width: 140px;
    margin-left: 1px;
}

/* Première partie du titre */
#titre1 {
    margin: 0px auto auto 100px;
}

/* Seconde partie du titre */
#titre2 {
    margin: 0px auto auto 83px;
}

/* Div id */
#divId {
    margin-bottom: 10px;
}

/* Divs id et mdp*/
#divId, #divMdp {
    margin-left: 25px;
}

/* Label id */
#labelId {
    margin-left: 13px;
    margin-right: 13px;
}

/* Bouton submit */
#submitLogin {
    font-weight: bold;
    margin: 20px auto auto 127px;
    height: 30px;
    background-color: #F4DD06;
    border: solid black 1px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
}

/* Changer la couleur de fond du bouton submit lorsque l'on passe dessus avec le curseur pour montrer qu'il est cliquable */
#submitLogin:hover {
    background-color: #D4BD00;
}

/* Fond d'écran */
body {
    background: #F4DD06 url("Images/background.png") no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0px;
    padding: 0px;
}