#divLogin {
    border: solid black 1px;
    border-radius: 10px;
    padding: 20px 20px 30px 40px;
    width: 300px;
    height: 250px;
    background-image:linear-gradient(#E5755F, #C34D34);
    font-family: "Open", sans-serif;
    margin: 300px auto auto auto;
    box-shadow: 2px 2px 5px;
}

#formLogin {
    margin-top: 60px;
}

input[type=text] {
    border: solid black 2px;
    height: 25px;
    width: 140px;
}

#titre1 {
    margin: 0px auto 0px auto;
    width: 100px;
}

#titre2 {
    margin: 0px auto 0px auto;
    width: 120px;
}

#divLabel, #divInput {
    display: inline-block;
    margin-right: 10px;
}

#labelId {
    margin-left: 10px;
}

#submitLogin {
    margin: 30px auto auto 111px;
    height: 30px;
    background-color: #33CC33;
    border: solid black 1px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 1s;
}

#submitLogin:hover {
    background-color: #20A420;
}