.bouton {
    border: solid black 1px;
    border-radius: 10px;
    background-image:linear-gradient(#E5755F, #C34D34);
    font-family: "Open", sans-serif;
    box-shadow: 2px 2px 5px;
    padding: 5px;
    height: 50px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    transition: background-color 1s;
}

.bouton:hover {
    background-image:linear-gradient(#C34D34, #9B250C);
}

#boutonAccueil {
    margin: 20px auto auto 20px;
}

#boutonDeconnexion {
    margin: 20px 20px auto auto;
}

h1 {
    margin: auto;
}

header {
    display: flex;
}

#divCentral {
    border: solid black 1px;
    border-radius: 10px;
    background-image:linear-gradient(#E5755F, #C34D34);
    font-family: "Open", sans-serif;
    box-shadow: 2px 2px 5px;
    padding: 25px 50px 25px 50px;
    margin: auto auto auto 636px;
    display: inline-block;
    width: 530px;
}

td{
    height: 50px;
}

.boutonModifierRetirer {
    background-color: #33CC33;
    border: solid black 1px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 1s;
}

.boutonModifierRetirer:hover {
    background-color: #20A420;
}

input[type=text] {
    border: solid black 1px;
    width: 400px;
}

#ajouterMedecin {
    width: 150px;
}

#retirerMedecin {
    margin: auto auto auto 800px;
}

#divAjouter {
    margin: 150px auto auto 486px;
    display: flex;
}