/* Mise en forme des boutons */
.bouton {
    border: solid black 1px;
    border-radius: 10px;
    background-color: #74A333;
    font-family: "Open", sans-serif;
    font-weight: bold;
    box-shadow: 2px 2px 5px;
    padding: 5px;
    height: 50px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s;
}

/* Changer la couleur de fond des boutons lorsque l'on passe dessus avec le curseur pour montrer qu'ils sont cliquables */
.bouton:hover {
    background-color: #4C7B0B;
}

/* Bouton accueil */
#boutonAccueil {
    margin: 20px auto auto 20px;
}

/* Bouton déconnexion */
#boutonDeconnexion {
    margin: 20px 20px auto auto;
}

/* Titre de niveau 1 */
h1 {
    margin: auto;
}

/* En-tête de page */
header {
    display: flex;
}

/* Div central */
#divCentral {
    border: solid black 1px;
    border-radius: 10px;
    background-color: #74A333;
    font-family: "Open", sans-serif;
    box-shadow: 2px 2px 5px;
    padding: 25px 50px 25px 50px;
    margin: auto auto auto 670px;
    display: inline-block;
    width: 470px;
}

/* Cases du tableau */
td{
    height: 50px;
}

/* Bouton retirer */
.boutonRetirer {
    background-color: #F4DD06;
    border: solid black 1px;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.5s;
    font-weight: bold;
}

/* Changer la couleur de fond du bouton retirer lorsque l'on passe dessus avec le curseur pour montrer qu'il est cliquable */
.boutonRetirer:hover {
    background-color: #D4BD00;
}

/* Input type text avec bordure */
input[type=text] {
    border: solid black 1px;
    width: 400px;
}

/* Bouton ajouter médecin */
#ajouterMedecin {
    width: 150px;
    font-weight: bold;
    margin: 150px auto auto 520px;
}

/* Fond d'écran */
body {
    background: #F4DD06 url("Images/background.png");
    background-size: cover;
    margin: 0px;
}