#formCreation {
    border: solid black 1px;
    border-radius: 10px;
    padding: 30px;
    width: 750px;
    height: 200px;
    margin: 230px auto auto auto;
    background-image:linear-gradient(#E5755F, #C34D34);
    font-family: "Open", sans-serif;
    box-shadow: 2px 2px 5px;
}

.bouton {
    border: solid black 1px;
    border-radius: 10px;
    background-image:linear-gradient(#E5755F, #C34D34);
    font-family: "Open", sans-serif;
    box-shadow: 2px 2px 5px;
    padding: 5px;
    height: 50px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    transition: background-color 1s;
}

.bouton:hover {
    background-image:linear-gradient(#C34D34, #9B250C);
}

#boutonAccueil {
    margin: 20px auto auto 20px;
}

#boutonDeconnexion {
    margin: 20px 20px auto auto;
}

h1 {
    margin: auto;
}

label {
    margin-left: 15px;
}

input {
    border: solid black 2px;
}

select {
    border: solid black 2px;
}

header {
    display: flex;
}

#submitCreation {
    background-color: #33CC33;
    margin-left: 325px;
    border: solid black 1px;
    border-radius: 10px;
    height: 25px;
    width: 80px;
    cursor: pointer;
    transition: background-color 1s;
}

#submitCreation:hover {
    background-color: #20A420;
}

#jour, #mois {
    width: 20px;
    text-align: center;
    
}

#annee {
    width: 30px;
    text-align: center;
}