#formCreation {
    border: solid black 1px;
    border-radius: 10px;
    padding: 30px;
    width: 750px;
    height: 200px;
    margin: 230px auto auto auto;
    background-color: #74A333;
    font-family: "Open", sans-serif;
    font-weight: bold;
    box-shadow: 2px 2px 5px;
}

/* Mise en forme des boutons */
.bouton {
    border: solid black 1px;
    border-radius: 10px;
    background-color: #74A333;
    font-family: "Open", sans-serif;
    font-weight: bold;
    box-shadow: 2px 2px 5px;
    padding: 5px;
    height: 50px;
    width: 100px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.5s;
}

/* Changer la couleur de fond des boutons lorsque l'on passe dessus avec le curseur pour montrer qu'ils sont cliquables */
.bouton:hover {
    background-color: #4C7B0B;
}

/* Bouton accueil */
#boutonAccueil {
    margin: 20px auto auto 20px;
}

/* Bouton déconnexion */
#boutonDeconnexion {
    margin: 20px 20px auto auto;
}

/* Titre de niveau 1 */
h1 {
    margin: auto;
}

/* label */
label {
    margin-left: 15px;
}

/* input avec bordure */
input {
    border: solid black 2px;
}

/* select avec bordure */
select {
    border: solid black 2px;
}

/* En-tête de page */
header {
    display: flex;
}

/* Bouton submit */
#submitCreation {
    background-color: #F4DD06;
    margin-left: 335px;
    border: solid black 1px;
    border-radius: 10px;
    height: 25px;
    width: 80px;
    cursor: pointer;
    transition: background-color 0.5s;
    font-weight: bold;
}

/* Changer la couleur de fond du bouton submit lorsque l'on passe dessus avec le curseur pour montrer qu'ils sont cliquables */
#submitCreation:hover {
    background-color: #D4BD00;
}

/* input type="date", input type="readio" et leurs labels, lise déroulante */
input[type=date], input[type=radio], .labelRadio, select {
    cursor: pointer;
}

input[type=number] {
    -moz-appearance: textfield;
}

/* Hauteur de cellule du tableau */
table td {
    height: 40px;
    padding-left: 50px;
}

/* Fond d'écran */
body {
    background: #F4DD06 url("Images/background.png");
    background-size: cover;
    margin: 0px;
}