<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Page d'accueil</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="accueil.css">
</head>
<body>
    <a href="login">Déconnexion</a>
    <br><br>
    <form action="nouvelleFiche">
        <input type="submit" value="Nouvelle fiche">
    </form>
    <form action="listeFiches">
        <input type="submit" value="Fiches de suivi">
    </form>
</body>
</html>
