<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Equipes kiné</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="equipesKine.css">
</head>
<header>
    <form action="accueil">
        <input type="submit" value="Accueil" class="bouton" id="boutonAccueil">
    </form>
    <h1>Equipes de kinésithérapie</h1>
    <form action="login">
        <input type="submit" value="Déconnexion" class="bouton" id="boutonDeconnexion">
    </form>
</header>
<body>
    <div id="divCentral">
        <table id="tabEquipesKine">
            <tr>
                <td>
                    <label class="equipe">Admin : </label>
                </td>
                <td>
                    <label>Identifiant : </label>
                </td>
                <td>
                    <input type="text">
                </td>
                <td>
                    <label>Mot de passe : </label>
                </td>
                <td>
                    <input type="text">
                </td>
                <td>
                    <input type="button" value="modifier" class="boutonModifier">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="equipe">Equipe 1 : </label>
                </td>
                <td>
                    <label>Identifiant : </label>
                </td>
                <td>
                    <input type="text">
                </td>
                <td>
                    <label>Mot de passe : </label>
                </td>
                <td>
                    <input type="text">
                </td>
                <td>
                    <input type="button" value="modifier" class="boutonModifier">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="equipe">Equipe 2 : </label>
                </td>
                <td>
                    <label>Identifiant : </label>
                </td>
                <td>
                    <input type="text">
                </td>
                <td>
                    <label>Mot de passe : </label>
                </td>
                <td>
                    <input type="text">
                </td>
                <td>
                    <input type="button" value="modifier" class="boutonModifier">
                </td>
            </tr>
            <tr>
                <td>
                    <label class="equipe">Equipe 3 : </label>
                </td>
                <td>
                    <label>Identifiant : </label>
                </td>
                <td>
                    <input type="text">
                </td>
                <td>
                    <label>Mot de passe : </label>
                </td>
                <td>
                    <input type="text">
                </td>
                <td>
                    <input type="button" value="modifier" class="boutonModifier">
                </td>
            </tr>
        </table>
        <button id="ajouterEquipe" class="bouton">Ajouter une équipe kiné</button>
    </div>
</body>
</html>
