<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Equipes kiné</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="equipeKine.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<header>
    <form action="accueilAdmin">
        <input type="submit" value="Accueil" class="bouton" id="boutonAccueil">
    </form>
    <h1>Equipes de kinésithérapie</h1>
    <form action="login">
        <input type="submit" value="Déconnexion" class="bouton" id="boutonDeconnexion">
    </form>
</header>
<body>
    <form action="ajouterEquipeKine">
        <input type="submit" id="ajouterEquipe" class="bouton" value="Ajouter une équipe">
    </form>
    <div id="divCentral">
        <p>Les identifiants et mots de passe doivent être uniques</p>
        <form th:each="equipeKine : ${lesEquipesKine}" th:id="'formEquipeKine-'+${equipeKine.idEquipeKine}" onsubmit="return false" class="formEquipeKine">
            <table>
                <tr>
                    <td>
                        <label th:if="${equipeKine.nom == 'admin'}" class="equipe" id="labelAdmin">Admin</label>
                        <input th:unless="${equipeKine.nom == 'admin'}" type="text" th:value="${equipeKine.nom}" class="equipe" name="nom" th:id="${equipeKine.idEquipeKine}" onkeyup="enregistrerModifications(this)" autoComplete="off">
                        <input type="hidden" th:value="${equipeKine.idEquipeKine}" name="idEquipeKine">
                    </td>
                    <td>
                        <label>Identifiant :</label>
                        <input type="text" th:value="${equipeKine.login}" name="login" th:id="${equipeKine.idEquipeKine}" onkeyup="enregistrerModifications(this)" autoComplete="off">
                    </td>
                    <td>
                        <label>Mot de passe :</label>
                        <input type="text" th:value="${equipeKine.mdp}" name="mdp" th:id="${equipeKine.idEquipeKine}" onkeyup="enregistrerModifications(this)" autoComplete="off">
                    </td>
                    <td>
                        <input th:unless="${equipeKine.nom == 'admin'}" type="button" value="retirer" class="boutonRetirer" th:id="${equipeKine.idEquipeKine}" onclick="retirerEquipeKine(this)">
                    </td>
                </tr>
            </table>
        </form>
    </div>
    <script type="text/javascript" src="bloquerAccesExterne.js"></script>
    <script type="text/javascript" src="equipeKine.js"></script>
</body>
</html>