<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Page d'accueil</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="ficheDeSuivi.css">
</head>
<header>
    <form action="accueil">
        <input type="submit" value="Accueil" class="bouton" id="boutonAccueil">
    </form>
    <form action="login">
        <input type="submit" value="Déconnexion" class="bouton" id="boutonDeconnexion">
    </form>
</header>
<body>
    <table id="tabFicheSuivi">
        <tbody>
            <caption class="titre">FICHE DE SYNTHESE DU BILAN-DIAGNOSTIC KINESITHERAPIQUE</caption>
            <colgroup>
                <col id="col1" style="width: 200px">
                <col id="col2" style="width: 33%">
                <col id="col3" style="width: 33%">
                <col id="col4" style="width: 34%">
            </colgroup>
            <!-- Ligne 1-->
            <tr id="L1">
                <td id="L1C1" colspan="4">
                    <label class="titre">RENSEIGNEMENTS SOCIO-ADMINISTRATIFS</label>
                    <br>
                    <label>Patient : </label>
                    <label>Nom : </label>
                    <label>Prénom : </label>
                    <label>Sexe : </label>
                    <label>Date de naissance : </label>
                    <label>Age : </label>
                    <br>
                    <label>N° sécurité sociale : </label>
                    <label>Médecin prescripteur : </label>
                    <label>Equipe kiné : </label>
                </td>
            </tr>
            <!-- Ligne 2-->
            <tr id="L2">
                <td id="L2C1" colspan="4">
                    <label class="titre">PRESCRIPTION</label> 
                    <label>Date de la prescription : </label> 
                    <input type="date" id="datePrescription">
                    <label>S'agit-il d'une prescription quantitative : </label> 
                    <label for="prescripQuantOui">Oui</label>
                    <input type="radio" name="prescripQuant" id="prescripQuantOui">
                    <label for="prescripQuantNon">Non</label>
                    <input type="radio" name="prescripQuant" id="prescripQuantNon">
                    <label>S'agit-il d'un renouvellement : </label> 
                    <label for="renouvellementOui">Oui</label>
                    <input type="radio" name="renouvellement" id="renouvellementOui">
                    <label for="renouvellementNon">Non</label>
                    <input type="radio" name="renouvellement" id="renouvellementNon">
                    <br>
                    <label class="titre">INDICATION MEDICALE : </label>
                    <input type="text" id="indicMedic">
                </td>
            </tr>
            <!-- Ligne 3-->
            <tr id="L3">
                <td id="L3C1" colspan="4">
                    <label class="titre">Protocole thérapeutique</label>
                    <br>
                    <label>Nombre : </label>
                    <input type="number">
                    <label>Rythme des séances : </label>
                    <input type="number">
                    <label>/semaine</label>
                    <label>Lieu des séances : </label>
                    <input type="text">
                    <label>Trvail en groupe : </label>
                    <label for="travailEnGroupeOui">Oui</label>
                    <input type="radio" name="travailEnGroupe" id="travailEnGroupeOui">
                    <label for="travailEnGroupeNon">Non</label>
                    <input type="radio" name="travailEnGroupe" id="travailEnGroupeNon">
                    <br>
                    <label>Date de la première séance : </label>
                    <input type="date">
                    <label>Techniques : </label>
                    <input type="text">
                </td>
            </tr>
            <!-- Ligne 4-->
            <tr id="L4">
                <!-- Colonne 1-->
                <td id="L4C1">
                    <label class="titre">INTITULES</label>
                    <br>
                    <input type="text" id="intituleKine" placeholder="ex: Rééducation des 4 membres du tronc">
                </td>
                <!-- Colonne 2-->
                <td id="L4C2">
                    <input type="button" id="masquer2" value="-">
                    <input type="checkbox" id="checkDemarrage">
                    <label class="titre">DEMARRAGE - date : </label>
                    <input class="titre" type="date" id="dateDemarrage">
                </td>
                <!-- Colonne 3-->
                <td id="L4C3">
                    <input type="button" id="masquer3" value="-">
                    <input type="checkbox" id="checkIntermediaire">
                    <label class="titre">INTERMEDIAIRE - date : </label>
                    <input class="titre" type="date" id="dateIntermediaire">
                </td>
                <!-- Colonne 4-->
                <td id="L4C4">
                    <input type="button" id="masquer4" value="-">
                    <input type="checkbox" id="checkIntermediaireFinale1">
                    <label class="titre">INTERMEDIAIRE</label>
                    <input type="checkbox" id="checkIntermediaireFinale2">
                    <label class="titre">FINALE - date : </label>
                    <input class="titre" type="date" id="dateIntermediaireFinale">
                </td>
            </tr>
            <!-- Ligne 5-->
            <tr id="L5"> 
                <!-- Colonne 1-->
                <td id="L5C1" style="border-bottom: none">
                    <label class="titre">Bilan des déficits structurels :</label>
                </td>
                <!-- Colonne 2-->
                <td id="L5C2" style="border-bottom: none">

                </td>
                <!-- Colonne 3-->
                <td id="L5C3" style="border-bottom: none">

                </td>
                <!-- Colonne 4-->
                <td id="L5C4" style="border-bottom: none">

                </td>
            </tr>
            <!-- Ligne 6-->
            <tr id="L6">
                <td id="L6C1" style="border-top: none; border-bottom: none">
                    <label>- articulaires</label>
                </td>
                <td id="L6C2" style="border-top: none; border-bottom: none">
                    <textarea id="aD"></textarea>
                </td>
                <td id="L6C3" style="border-top: none; border-bottom: none">
                    <textarea></textarea>
                </td>
                <td id="L6C4" style="border-top: none; border-bottom: none">
                    <textarea></textarea>
                </td>
            </tr>
            <!-- Ligne 7-->
            <tr id="L7">
                <td id="L7C1" style="border-top: none; border-bottom: none">
                    <label>- force musculaire</label>
                </td>
                <td id="L7C2" style="border-top: none; border-bottom: none">
                    <textarea id="fmD"></textarea>
                </td>
                <td id="L7C3" style="border-top: none; border-bottom: none">
                    <textarea></textarea>
                </td>
                <td id="L7C4" style="border-top: none; border-bottom: none">
                    <textarea></textarea>
                </td>
            </tr>
            <!-- Ligne 8-->
            <tr id="L8">
                <td id="L8C1" style="border-top: none; border-bottom: none">
                    <label>- douleurs</label>
                </td>
                <td id="L8C2" style="border-top: none; border-bottom: none">
                    <textarea id="dD"></textarea>
                </td>
                <td id="L8C3" style="border-top: none; border-bottom: none">
                    <textarea></textarea>
                </td>
                <td id="L8C4" style="border-top: none; border-bottom: none">
                    <textarea></textarea>
                </td>
            </tr>
            <!-- Ligne 9-->
            <tr id="L9">
                <td id="L9C1" style="border-top: none; border-bottom: none">
                    <label for="tD">- trophiques</label>
                </td>
                <td id="L9C2" style="border-top: none; border-bottom: none">
                    <textarea id="tD"></textarea>
                </td>
                <td id="L9C3" style="border-top: none; border-bottom: none">
                    <textarea></textarea>
                </td>
                <td id="L9C4" style="border-top: none; border-bottom: none">
                    <textarea></textarea>
                </td>
            </tr>
            <!-- Ligne 10-->
            <tr id="L10">
                <!-- Colonne 1-->
                <td id="L10C1">
                    <label class="titre">Bilan des déficits fonctionnels</label>
                </td>
                <!-- Colonne 2-->
                <td id="L10C2">
                    <textarea></textarea>
                </td>
                <!-- Colonne 3-->
                <td id="L10C3">
                    <textarea></textarea>
                </td>
                <!-- Colonne 4-->
                <td id="L10C4">
                    <textarea></textarea>
                </td>
            </tr>
            <!-- Ligne 11-->
            <tr id="L11">
                <!-- Colonne 1-->
                <td id="L11C1">
                    <label class="titre">Autres problèmes généraux identifiés par le Masseur kinésithérapeute</label>
                </td>
                <!-- Colonne 2-->
                <td id="L11C2">
                    <textarea></textarea>
                </td>
                <!-- Colonne 3-->
                <td id="L11C3">
                    <textarea></textarea>
                </td>
                <!-- Colonne 4-->
                <td id="L11C4">
                    <textarea></textarea>
                </td>
            </tr>
            <!-- Ligne 12-->
            <tr id="L12"> 
                <!-- Colonne 1-->
                <td id="L12C1" style="border-bottom: none">
                    <label class="titre">Objectifs :</label>
                </td>
                <!-- Colonne 2-->
                <td id="L12C2" style="border-bottom: none">

                </td>
                <!-- Colonne 3-->
                <td id="L12C3" style="border-bottom: none">

                </td>
                <!-- Colonne 4-->
                <td id="L12C4" style="border-bottom: none">

                </td>
            </tr>
            <!-- Ligne 13-->
            <tr id="L13">
                <td id="L13C1" style="border-top: none; border-bottom: none">
                    <label>- à court terme :</label>
                </td>
                <td id="L13C2" style="border-top: none; border-bottom: none">
                    <textarea id="aD"></textarea>
                </td>
                <td id="L13C3" style="border-top: none; border-bottom: none">
                    <textarea></textarea>
                </td>
                <td id="L13C4" style="border-top: none; border-bottom: none">
                    <textarea></textarea>
                </td>
            </tr>
            <!-- Ligne 14-->
            <tr id="L14">
                <td id="L14C1" style="border-top: none; border-bottom: none">
                    <label>- à moyen terme :</label>
                </td>
                <td id="L14C2" style="border-top: none; border-bottom: none">
                    <textarea id="fmD"></textarea>
                </td>
                <td id="L14C3" style="border-top: none; border-bottom: none">
                    <textarea></textarea>
                </td>
                <td id="L14C4" style="border-top: none; border-bottom: none">
                    <textarea></textarea>
                </td>
            </tr>
            <!-- Ligne 15-->
            <tr id="L15">
                <td id="L15C1" style="border-top: none; border-bottom: none">
                    <label>- à long terme :</label>
                </td>
                <td id="L15C2" style="border-top: none; border-bottom: none">
                    <textarea id="dD"></textarea>
                </td>
                <td id="L15C3" style="border-top: none; border-bottom: none">
                    <textarea></textarea>
                </td>
                <td id="L15C4" style="border-top: none; border-bottom: none">
                    <textarea></textarea>
                </td>
            </tr>
            <!-- Ligne 16-->
            <tr id="L16">
                <!-- Colonne 1-->
                <td id="L16C1">
                    <label class="titre">Diagnostic kinésithérapique</label>
                </td>
                <!-- Colonne 2-->
                <td id="L16C2">
                    <textarea></textarea>
                </td>
                <td id="L16C3">
                <!-- Colonne 3-->
                    <textarea></textarea>
                </td>
                <!-- Colonne 4-->
                <td id="L16C4">
                    <textarea></textarea>
                </td>
            </tr>
            <!-- Ligne 17-->
            <tr id="L17">
                <!-- Colonne 1-->
                <td id="L17C1">
                    <label class="titre">Conseils</label>
                </td>
                <!-- Colonne 2-->
                <td id="L17C2">
                    <textarea></textarea>
                </td>
                <td id="L17C3">
                <!-- Colonne 3-->
                    <textarea></textarea>
                </td>
                <!-- Colonne 4-->
                <td id="L17C4">
                    <textarea></textarea>
                </td>
            </tr>
            <!-- Ligne 18-->
            <tr id="L18">
                <!-- Colonne 1-->
                <td id="L18C1">
                    <label class="titre">Propositions consécutives</label>
                </td>
                <!-- Colonne 2-->
                <td id="L18C2">
                    <textarea></textarea>
                </td>
                <td id="L18C3">
                <!-- Colonne 3-->
                    <textarea></textarea>
                </td>
                <!-- Colonne 4-->
                <td id="L18C4">
                    <textarea></textarea>
                </td>
            </tr>
            <!-- Ligne 19-->
            <tr id="L19">
                <!-- Colonne 1-->
                <td id="L19C1">
                    <label class="titre">Commentaires</label>
                </td>
                <!-- Colonne 2-->
                <td id="L19C2">
                    <textarea></textarea>
                </td>
                <!-- Colonne 3-->
                <td id="L19C3">
                    <textarea></textarea>
                </td>
                <!-- Colonne 4-->
                <td id="L19C4">
                    <label class="titre">COTATION : </label>
                    <input type="text">
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td style="border: none">
                    <label class="titre">Date :</label>
                </td>
                <td colspan="2" style="border: none;">
                    <label class="titre">Nom du masseur kinésithérapeute et cachet :</label>
                </td>
                <td style="border: none">
                    <label class="titre">Signature :</label>
                </td>
            </tr>
        </tfoot>
    </table>
    <script type="text/javascript" src="ficheDeSuivi.js"></script>
</body>
</html>
