<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Fiche de suivi</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="ficheDeSuivi.css" media="screen">
    <link rel="stylesheet" type="text/css" href="ficheDeSuivi_Impression.css" media="print">
</head>
<header>
    <form action="accueil">
        <input type="submit" value="Accueil" class="bouton" id="boutonAccueil">
    </form>
    <form action="listeFiches">
        <input type="submit" value="Liste des fiches de suivi" class="bouton" id="boutonListeFiches">
    </form>
    <form>
        <input type="submit" value="Imprimer la fiche" class="bouton" id="boutonImpression">
    </form>
    <form action="login">
        <input type="submit" value="Déconnexion" class="bouton" id="boutonDeconnexion">
    </form>
</header>
<body>
    <form action="modifierFicheDeSuivi" id="formFicheDeSuivi">
        <table id="tabFicheSuivi">
            <tbody>
                <caption class="titre">FICHE DE SYNTHESE DU BILAN-DIAGNOSTIC KINESITHERAPIQUE</caption>
                <colgroup>
                    <col id="col1" style="width: 15%">
                    <col id="col2" style="width: 28%">
                    <col id="col3" style="width: 28%">
                    <col id="col4" style="width: 29%">
                </colgroup>
                <!-- Ligne 1-->
                <tr id="L1">
                    <td id="L1C1" colspan="4">
                        <label class="titre">RENSEIGNEMENTS SOCIO-ADMINISTRATIFS</label>
                        <br>
                        <label>Patient : </label>
                        <label class="labelSocioAdministratifs">Nom : </label>
                        <label th:text="${nom}"></label>
                        <input type="hidden" th:value="${nom}" name="nom">
                        <label class="labelSocioAdministratifs">Prénom : </label>
                        <label th:text="${prenom}"></label>
                        <input type="hidden" th:value="${prenom}" name="prenom">
                        <label class="labelSocioAdministratifs">Sexe : </label>
                        <label th:text="${sexe}"></label>
                        <label class="labelSocioAdministratifs">Date de naissance : </label>
                        <label th:text="${dateNaissance}"></label>
                        <input type="hidden" th:value="${dateNaissance}" name="dateNaissance">
                        <label class="labelSocioAdministratifs">Age : </label>
                        <label th:text="${age}"></label>
                        <label class="labelSocioAdministratifs">N° sécurité sociale : </label>
                        <label th:text="${nSecuSociale}"></label>
                        <label class="labelSocioAdministratifs">Médecin prescripteur : </label>
                        <label th:text="${medecin}"></label>
                        <label class="labelSocioAdministratifs">Equipe kiné : </label>
                        <label th:text="${equipeKine}"></label>
                    </td>
                </tr>
                <!-- Ligne 2-->
                <tr id="L2">
                    <td id="L2C1" colspan="4">
                        <label class="titre">PRESCRIPTION</label> 
                        <label>Date de la prescription : </label> 
                        <input type="date" name="datePrescription" id="datePrescription" th:value="${datePrescription}">
                        <label>S'agit-il d'une prescription quantitative : </label> 
                        <label>Oui</label>
                        <input th:if="${prescriptionQuantitative !=null && prescriptionQuantitative == 'Oui'}" type="radio" value="Oui" name="prescriptionQuantitative" id="prescripQuantOui" checked>
                        <input th:unless="${prescriptionQuantitative !=null && prescriptionQuantitative == 'Oui'}" type="radio" value="Oui" name="prescriptionQuantitative" id="prescripQuantOui">
                        <label>Non</label>
                        <input th:if="${prescriptionQuantitative !=null && prescriptionQuantitative == 'Non'}" type="radio" value="Non" name="prescriptionQuantitative" id="prescripQuantNon" checked>
                        <input th:unless="${prescriptionQuantitative !=null && prescriptionQuantitative == 'Non'}" type="radio" value="Non" name="prescriptionQuantitative" id="prescripQuantNon">
                        <label>S'agit-il d'un renouvellement : </label> 
                        <label>Oui</label>
                        <input th:if="${renouvellement == 'Oui'}" type="radio" value="Oui" name="renouvellement" id="renouvellementOui" checked>
                        <input th:unless="${renouvellement == 'Oui'}" type="radio" value="Oui" name="renouvellement" id="renouvellementOui">
                        <label>Non</label>
                        <input th:if="${renouvellement == 'Non'}" type="radio" value="Non" name="renouvellement" id="renouvellementNon" checked>
                        <input th:unless="${renouvellement == 'Non'}" type="radio" value="Non" name="renouvellement" id="renouvellementNon">
                        <br>
                        <label class="titre">INDICATION MEDICALE : </label>
                        <input type="text" th:value="${indicationMedicale}" name="indicationMedicale" id="indicMedic">
                    </td>
                </tr>
                <!-- Ligne 3-->
                <tr id="L3">
                    <td id="L3C1" colspan="4">
                        <label class="titre">Protocole thérapeutique</label>
                        <br>
                        <label>Nombre : </label>
                        <input type="number" th:value="${nbProtocoleTherapeutique}" name="nbProtocoleTherapeutique">
                        <label>Rythme des séances : </label>
                        <input type="number" th:value="${rythmeSeances}" name="rythmeSeances">
                        <label>/semaine</label>
                        <label>Lieu des séances : </label>
                        <input type="text" th:value="${lieuSeances}" name="lieuSeances">
                        <label>Travail en groupe : </label>
                        <label>Oui</label>
                        <input th:if="${travailGroupe !=null && travailGroupe == 'Oui'}" type="radio" value="Oui" name="travailGroupe" id="travailEnGroupeOui" checked>
                        <input th:unless="${travailGroupe !=null && travailGroupe == 'Oui'}" type="radio" value="Oui" name="travailGroupe" id="travailEnGroupeOui">
                        <label>Non</label>
                        <input th:if="${travailGroupe !=null && travailGroupe == 'Non'}" type="radio" value="Non" name="travailGroupe" id="travailEnGroupeNon" checked>
                        <input th:unless="${travailGroupe !=null && travailGroupe == 'Non'}" type="radio" value="Non" name="travailGroupe" id="travailEnGroupeNon">
                        <br>
                        <label>Date de la première séance : </label>
                        <input type="date" th:value="${datePremiereSeance}" name="datePremiereSeance">
                        <label>Techniques : </label>
                        <input type="text" th:value="${techniques}" name="techniques" id="techniques">
                    </td>
                </tr>
                <!-- Ligne 4-->
                <tr id="L4">
                    <!-- Colonne 1-->
                    <td id="L4C1">
                        <label class="titre">INTITULES</label>
                        <br>
                        <input type="text" th:value="${intitules}" name="intitules" id="intituleKine">
                    </td>
                    <!-- Colonne 2-->
                    <td id="L4C2">
                        <input type="button" id="masquer2" class="masquer" value="-">
                        <label class="titre">DEMARRAGE - date : </label>
                        <input class="titre" type="date" th:value="${demarrageDate}" name="demarrageDate" id="dateDemarrage">
                    </td>
                    <!-- Colonne 3-->
                    <td id="L4C3">
                        <input type="button" id="masquer3" class="masquer" value="-">
                        <label class="titre">INTERMEDIAIRE - date : </label>
                        <input class="titre" type="date" th:value="${intermediaireDate}" name="intermediaireDate" id="dateIntermediaire">
                    </td>
                    <!-- Colonne 4-->
                    <td id="L4C4">
                        <input type="button" id="masquer4" class="masquer" value="-">
                        <label class="titre">FINALE - date : </label>
                        <input class="titre" type="date" th:value="${finaleDate}" name="finaleDate" id="dateIntermediaireFinale">
                    </td>
                </tr>
                <!-- Ligne 5-->
                <tr id="L5"> 
                    <!-- Colonne 1-->
                    <td id="L5C1" style="border-bottom: none">
                        <label class="titre">Bilan des déficits structurels :</label>
                    </td>
                    <!-- Colonne 2-->
                    <td id="L5C2" style="border-bottom: none">

                    </td>
                    <!-- Colonne 3-->
                    <td id="L5C3" style="border-bottom: none">

                    </td>
                    <!-- Colonne 4-->
                    <td id="L5C4" style="border-bottom: none">

                    </td>
                </tr>
                <!-- Ligne 6-->
                <tr id="L6">
                    <td id="L6C1" style="border-top: none; border-bottom: none">
                        <label>- articulaires</label>
                    </td>
                    <td id="L6C2" style="border-top: none; border-bottom: none">
                        <textarea th:value="${articulairesD}" name="articulairesD"></textarea>
                    </td>
                    <td id="L6C3" style="border-top: none; border-bottom: none">
                        <textarea th:value="${articulairesI}" name="articulairesI"></textarea>
                    </td>
                    <td id="L6C4" style="border-top: none; border-bottom: none">
                        <textarea th:value="${articulairesF}" name="articulairesF"></textarea>
                    </td>
                </tr>
                <!-- Ligne 7-->
                <tr id="L7">
                    <td id="L7C1" style="border-top: none; border-bottom: none">
                        <label>- force musculaire</label>
                    </td>
                    <td id="L7C2" style="border-top: none; border-bottom: none">
                        <textarea th:value="${forceMusculaireD}" name="forceMusculaireD"></textarea>
                    </td>
                    <td id="L7C3" style="border-top: none; border-bottom: none">
                        <textarea th:value="${forceMusculaireI}" name="forceMusculaireI"></textarea>
                    </td>
                    <td id="L7C4" style="border-top: none; border-bottom: none">
                        <textarea th:value="${forceMusculaireF}" name="forceMusculaireF"></textarea>
                    </td>
                </tr>
                <!-- Ligne 8-->
                <tr id="L8">
                    <td id="L8C1" style="border-top: none; border-bottom: none">
                        <label>- douleurs</label>
                    </td>
                    <td id="L8C2" style="border-top: none; border-bottom: none">
                        <textarea th:value="${douleursD}" name="douleursD"></textarea>
                    </td>
                    <td id="L8C3" style="border-top: none; border-bottom: none">
                        <textarea th:value="${douleursI}" name="douleursI"></textarea>
                    </td>
                    <td id="L8C4" style="border-top: none; border-bottom: none">
                        <textarea th:value="${douleursF}" name="douleursF"></textarea>
                    </td>
                </tr>
                <!-- Ligne 9-->
                <tr id="L9">
                    <td id="L9C1" style="border-top: none; border-bottom: none">
                        <label for="tD">- trophiques</label>
                    </td>
                    <td id="L9C2" style="border-top: none; border-bottom: none">
                        <textarea th:value="${trophiquesD}" name="trophiquesD"></textarea>
                    </td>
                    <td id="L9C3" style="border-top: none; border-bottom: none">
                        <textarea th:value="${trophiquesI}" name="trophiquesI"></textarea>
                    </td>
                    <td id="L9C4" style="border-top: none; border-bottom: none">
                        <textarea th:value="${trophiquesF}" name="trophiquesF"></textarea>
                    </td>
                </tr>
                <!-- Ligne 10-->
                <tr id="L10">
                    <!-- Colonne 1-->
                    <td id="L10C1">
                        <label class="titre">Bilan des déficits fonctionnels</label>
                    </td>
                    <!-- Colonne 2-->
                    <td id="L10C2">
                        <textarea th:value="${bilanDeficitsFonctionnelsD}" name="bilanDeficitsFonctionnelsD"></textarea>
                    </td>
                    <!-- Colonne 3-->
                    <td id="L10C3">
                        <textarea th:value="${bilanDeficitsFonctionnelsI}" name="bilanDeficitsFonctionnelsI"></textarea>
                    </td>
                    <!-- Colonne 4-->
                    <td id="L10C4">
                        <textarea th:value="${bilanDeficitsFonctionnelsF}" name="bilanDeficitsFonctionnelsF"></textarea>
                    </td>
                </tr>
                <!-- Ligne 11-->
                <tr id="L11">
                    <!-- Colonne 1-->
                    <td id="L11C1">
                        <label class="titre">Autres problèmes généraux identifiés par le Masseur kinésithérapeute</label>
                    </td>
                    <!-- Colonne 2-->
                    <td id="L11C2">
                        <textarea th:value="${autresProblemesD}" name="autresProblemesD"></textarea>
                    </td>
                    <!-- Colonne 3-->
                    <td id="L11C3">
                        <textarea th:value="${autresProblemesI}" name="autresProblemesI"></textarea>
                    </td>
                    <!-- Colonne 4-->
                    <td id="L11C4">
                        <textarea th:value="${autresProblemesF}" name="autresProblemesF"></textarea>
                    </td>
                </tr>
                <!-- Ligne 12-->
                <tr id="L12"> 
                    <!-- Colonne 1-->
                    <td id="L12C1" style="border-bottom: none">
                        <label class="titre">Objectifs :</label>
                    </td>
                    <!-- Colonne 2-->
                    <td id="L12C2" style="border-bottom: none">

                    </td>
                    <!-- Colonne 3-->
                    <td id="L12C3" style="border-bottom: none">

                    </td>
                    <!-- Colonne 4-->
                    <td id="L12C4" style="border-bottom: none">

                    </td>
                </tr>
                <!-- Ligne 13-->
                <tr id="L13">
                    <td id="L13C1" style="border-top: none; border-bottom: none">
                        <label>- à court terme :</label>
                    </td>
                    <td id="L13C2" style="border-top: none; border-bottom: none">
                        <textarea th:value="${objectifsCourtTermeD}" name="objectifsCourtTermeD"></textarea>
                    </td>
                    <td id="L13C3" style="border-top: none; border-bottom: none">
                        <textarea th:value="${objectifsCourtTermeI}" name="objectifsCourtTermeI"></textarea>
                    </td>
                    <td id="L13C4" style="border-top: none; border-bottom: none">
                        <textarea th:value="${objectifsCourtTermeF}" name="objectifsCourtTermeF"></textarea>
                    </td>
                </tr>
                <!-- Ligne 14-->
                <tr id="L14">
                    <td id="L14C1" style="border-top: none; border-bottom: none">
                        <label>- à moyen terme :</label>
                    </td>
                    <td id="L14C2" style="border-top: none; border-bottom: none">
                        <textarea th:value="${objectifsMoyenTermeD}" name="objectifsMoyenTermeD"></textarea>
                    </td>
                    <td id="L14C3" style="border-top: none; border-bottom: none">
                        <textarea th:value="${objectifsMoyenTermeI}" name="objectifsMoyenTermeI"></textarea>
                    </td>
                    <td id="L14C4" style="border-top: none; border-bottom: none">
                        <textarea th:value="${objectifsMoyenTermeF}" name="objectifsMoyenTermeF"></textarea>
                    </td>
                </tr>
                <!-- Ligne 15-->
                <tr id="L15">
                    <td id="L15C1" style="border-top: none; border-bottom: none">
                        <label>- à long terme :</label>
                    </td>
                    <td id="L15C2" style="border-top: none; border-bottom: none">
                        <textarea th:value="${objectifsLongTermeD}" name="objectifsLongTermeD"></textarea>
                    </td>
                    <td id="L15C3" style="border-top: none; border-bottom: none">
                        <textarea th:value="${objectifsLongTermeI}" name="objectifsLongTermeI"></textarea>
                    </td>
                    <td id="L15C4" style="border-top: none; border-bottom: none">
                        <textarea th:value="${objectifsLongTermeF}" name="objectifsLongTermeF"></textarea>
                    </td>
                </tr>
                <!-- Ligne 16-->
                <tr id="L16">
                    <!-- Colonne 1-->
                    <td id="L16C1">
                        <label class="titre">Diagnostic kinésithérapique</label>
                    </td>
                    <!-- Colonne 2-->
                    <td id="L16C2">
                        <textarea th:value="${diagnosticD}" name="diagnosticD"></textarea>
                    </td>
                    <td id="L16C3">
                    <!-- Colonne 3-->
                        <textarea th:value="${diagnosticI}" name="diagnosticI"></textarea>
                    </td>
                    <!-- Colonne 4-->
                    <td id="L16C4">
                        <textarea th:value="${diagnosticF}" name="diagnosticF"></textarea>
                    </td>
                </tr>
                <!-- Ligne 17-->
                <tr id="L17">
                    <!-- Colonne 1-->
                    <td id="L17C1">
                        <label class="titre">Conseils</label>
                    </td>
                    <!-- Colonne 2-->
                    <td id="L17C2">
                        <textarea th:value="${conseilsD}" name="conseilsD"></textarea>
                    </td>
                    <td id="L17C3">
                    <!-- Colonne 3-->
                        <textarea th:value="${conseilsI}" name="conseilsI"></textarea>
                    </td>
                    <!-- Colonne 4-->
                    <td id="L17C4">
                        <textarea th:value="${conseilsF}" name="conseilsF"></textarea>
                    </td>
                </tr>
                <!-- Ligne 18-->
                <tr id="L18">
                    <!-- Colonne 1-->
                    <td id="L18C1">
                        <label class="titre">Propositions consécutives</label>
                    </td>
                    <!-- Colonne 2-->
                    <td id="L18C2">
                        <textarea th:value="${propositionsD}" name="propositionsD"></textarea>
                    </td>
                    <td id="L18C3">
                    <!-- Colonne 3-->
                        <textarea th:value="${propositionsI}" name="propositionsI"></textarea>
                    </td>
                    <!-- Colonne 4-->
                    <td id="L18C4">
                        <textarea th:value="${propositionsF}" name="propositionsF"></textarea>
                    </td>
                </tr>
                <!-- Ligne 19-->
                <tr id="L19">
                    <!-- Colonne 1-->
                    <td id="L19C1">
                        <label class="titre">Commentaires</label>
                    </td>
                    <!-- Colonne 2-->
                    <td id="L19C2">
                        <textarea th:value="${commentairesD}" name="commentairesD"></textarea>
                    </td>
                    <!-- Colonne 3-->
                    <td id="L19C3">
                        <textarea th:value="${commentairesI}" name="commentairesI"></textarea>
                    </td>
                    <!-- Colonne 4-->
                    <td id="L19C4">
                        <label class="titre" id="cotation">COTATION : </label>
                        <input type="text" th:value="${cotation}" name="cotation">
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td style="border: none">
                        <label class="titre">Date :</label>
                    </td>
                    <td colspan="2" style="border: none;">
                        <label class="titre">Nom du masseur kinésithérapeute et cachet :</label>
                    </td>
                    <td style="border: none">
                        <label class="titre">Signature :</label>
                    </td>
                </tr>
            </tfoot>
        </table>
    </form>
    <script type="text/javascript" src="ficheDeSuivi.js"></script>
</body>
</html>
