<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Page d'accueil</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="listeFiches.css">
</head>
<header>
    <form action="accueil">
        <input type="submit" value="Accueil" class="bouton" id="boutonAccueil">
    </form>
    <h1>Fiches de suivi</h1>
    <form>
        <input type="submit" value="Imprimer" class="bouton" id="boutonImpression">
    </form>
    <form action="login">
        <input type="submit" value="Déconnexion" class="bouton" id="boutonDeconnexion">
    </form>
</header>
<body>
    <br><br><br><br>
    <a href="ficheDeSuivi">Fiche de suivi</a>
</body>
</html>
