<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Page de login</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <h1>Login</h1>
    <form action="accueil">
        <label>Identifiant</label> <input type="text" id="id" name="id" placeholder="ex: test">
        <br><br>
        <label>Mot de passe</label> <input type="text" id="mdp" name="mdp" placeholder="Mot de passe">
        <br>
        <input type="submit" value="OK">
    </form>
</body>
</html>
