<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Page de login</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
    <div id="divLogin">
        <p id="titre1">Fiche de suivi</p>
        <p id="titre2">KINESITHERAPIE</p>
        <form id="formLogin" action="connexion">
            <div id="divId">
                <label id="labelId">Identifiant</label> 
                 <input type="text" id="login" name="login" autoComplete="off" autofocus required>
            </div>
            <div id="divMdp">
                <label id="labelMdp">Mot de passe</label>
                <input type="password" id="mdp" name="mdp" required>
            </div>
            <input id="submitLogin" type="submit" value="Se connecter">
        </form>
    </div>
    <script type="text/javascript" src="login.js"></script>
</body>
</html>