<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Page de login</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="login.css">
</head>
<body>
    <div id="divLogin">
        <p id="titre1">Fiche de suivi</p>
        <p id="titre2">KINESITHERAPIE</p>
        <form id="formLogin" action="accueil">
            <div id="divId">
                <label id="labelId">Identifiant</label> 
                 <input type="text" id="id" name="id">
            </div>
            <div id="divMdp">
                <label id="labelMdp">Mot de passe</label>
                <input type="text" id="mdp" name="mdp">
            </div>
            <input id="submitLogin" type="submit" value="Se connecter">
        </form>
        <a href="accueilAdmin">Accueil admin</a>
    </div>
</body>
</html>
