<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Nouvelle fiche</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="nouvelleFiche.css">
</head>
<header>
    <form action="accueil">
        <input type="submit" value="Accueil" class="bouton" id="boutonAccueil">
    </form>
    <h1>Création : nouvelle fiche de suivi</h1>
    <form action="login">
        <input type="submit" value="Déconnexion" class="bouton" id="boutonDeconnexion">
    </form>
</header>
<body>
    <form id="formCreation" action="creerFicheDeSuivi">
        <label>Nom*</label> 
        <input type="text" id="nom" name="nom" placeholder="ex: Pages">
        <label>Prénom*</label> 
        <input type="text" id="prenom" name="prenom" placeholder="ex: Huguette">
        <label>Date de naissance*</label>
        <input type="text" name="jour" id="jour" placeholder="jj">
        <label style="margin: 0px">/</label>
        <input type="text" name="mois" id="mois" placeholder="MM">
        <label style="margin: 0px">/</label>
        <input type="text" name="annee" id="annee" placeholder="aaaa">
        <br><br>
        <label>Sexe*</label> 
        <label>F</label> 
        <input type="radio" name="sexe" id="F" value="F"> 
        <label>M</label> 
        <input type="radio" name="sexe" id="M" value="M">
        <label>Médecin traitant*</label> 
        <select name="medecinPrescripteur">
            <option th:each="medecin: ${medecins}" th:value="${medecin.nom}" th:text="${medecin.nom}"></option>
        </select>
        <br><br>
        <label>N° sécurité sociale*</label> 
        <input type="text" name="nSecu" id="nSecu" placeholder="ex: 000000000000000"> 
        <br><br><br>
        <input type="submit" value="CREATION" id="submitCreation">
        <br><br><br>
        <label id="champObligatoire">*CHAMP OBLIGATOIRE</label>
    </form>
</body>
</html>